# Env
**/.env
**/.env.*

# Archivos de logs
*.log

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de compilación de Python
*.pyc
__pycache__/

# Archivos de media y estáticos generados
**/staticfiles*/

# Archivos autogenerados del formulario
**/filled_form.*

#Archivos de excel, imagenes y json
**/*.xlsx
**/imagenes_perros/
**/perros_procesados.json
**/reporte*.txt