[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2.7"
djangorestframework = "*"
psycopg2-binary = "*"
cloudinary = "*"
pytest = "*"
pytest-django = "*"
django-filter = {extras = ["templates"], version = "*"}
drf-spectacular = "*"
drf-spectacular-sidecar = "*"
django-unfold = "*"
python-docx = "*"
django-q2 = "*"
redis = "*"
pandas = "*"
openpyxl = "*"
openpyxl-image-loader = "*"
pillow = "*"
gunicorn = "*"
django-prometheus = "*"

[requires]
python_version = "3.13"

[dev-packages]
bandit = "*"
ruff = "*"
