.about-card {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 260px;
  background: rgba(70, 142, 230, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  padding: 2rem;
  transition: all 0.5s;
  overflow: hidden;
}

.about-card::before,
.about-card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  background-color: #85bdf2;
  transition: all 0.5s;
  z-index: 0;
}

.about-card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.about-card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.about-card:hover::before,
.about-card:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.about-card-content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.text-shadow-custom {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
