
@import "tailwindcss";

/* Estilos globales de la pagina */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1f2937;
}
html {
  data-scroll-behavior: smooth;
}

.logo {
  width: auto;
  height: auto;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-myFont);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
    --font: 'Alan Sans', sans-serif;
  }
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}


body {
  background: var(--background);
  color: var(--foreground);
}

.paper-effect {
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
