networks:
  backend:
  frontend:

volumes:
  pg_data:

services:
  db:
    image: postgres:16-alpine
    container_name: db
    shm_size: 256mb
    env_file:
      - ../backend/.env.prod
    networks:
      - backend
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    networks:
      - backend
    restart: unless-stopped

  django_q:
    build: ../backend
    container_name: django_q
    command: python manage.py qcluster
    env_file:
      - ../backend/.env.prod
    networks:
      - backend
    depends_on:
      - db
      - redis
    restart: unless-stopped

  api:
    build: ../backend
    container_name: api
    command: >
      bash -c "python manage.py migrate &&
      gunicorn app.core.wsgi:application --bind 0.0.0.0:8000 --workers 3"
    env_file:
      - ../backend/.env.prod
    networks:
      - backend
      - frontend
    depends_on:
      - db
      - redis
    restart: unless-stopped

  frontend:
    build: ../frontend
    container_name: frontend
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
    networks:
      - frontend
    restart: unless-stopped
    env_file:
      - ../frontend/.env.local
    depends_on:
      - api


  nginx:
    build: ../nginx
    container_name: nginx
    ports:
      - "80:80"
    networks:
      - frontend
    depends_on:
      - frontend
      - api
    restart: unless-stopped
