networks:
  backend:
  frontend:

volumes:
  pg_data:

services:
  db:
    image: postgres:16-alpine
    container_name: db
    shm_size: 256mb
    env_file:
      - ../backend/.env.prod
    networks:
      - backend
    volumes:
      - ../backend/sql/prod_seed.sql:/docker-entrypoint-initdb.d/init.sql
      - pg_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d patitas"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis
    networks:
      - backend
    restart: unless-stopped

  django_q:
    build: ../backend
    container_name: django_q
    command: python manage.py qcluster
    env_file:
      - ../backend/.env.prod
    networks:
      - backend
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped

  api:
    build: ../backend
    container_name: api
    command: >
      bash -c "python manage.py migrate &&
      gunicorn app.core.wsgi:application --bind 0.0.0.0:8000 --workers 3 --log-level debug --access-logfile - --error-logfile -"
    env_file:
      - ../backend/.env.prod
    networks:
      - backend
      - frontend
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped

  frontend:
    build: ../frontend
    container_name: frontend
    expose:
      - "3000"
    environment:
      - NODE_ENV=development
    networks:
      - frontend
    restart: unless-stopped
    env_file:
      - ../frontend/.env.local
    depends_on:
      - api


  nginx:
    build: ../nginx
    container_name: nginx
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    networks:
      - frontend
    depends_on:
      - frontend
      - api
    restart: unless-stopped
  
  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
